
/* --- Burger Ingredients Styling --- */

.bread-top {
  height: 70px;
  width: 250px;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 15% 15%;
  margin: 2px;
}

.bread-bottom {
  height: 45px;
  width: 250px;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 15% 15% 30% 30%;
  margin: 2px;
}

.patty {
  width: 260px;
  height: 30px;
  background: linear-gradient(#543007, #7f4404);
  border-radius: 15px;
  margin: 2px;
}

.cheeseSlice {
  width: 270px;
  height: 10px;
  background: linear-gradient(#f4d004, #f4b004);
  border-radius: 2px;
  margin: 2px;
}

.latice {
  width: 265px;
  height: 12px;
  background: linear-gradient(#228c22, #56b456);
  border-radius: 10px;
  margin: 2px;
}

.jalapenos {
  width: 240px;
  height: 8px;
  background: linear-gradient(#1e4d2b, #2d6a4f);
  border-radius: 5px;
  margin: 2px;
}

